<button mat-button [matMenuTriggerFor]="menu">New game</button>
<button mat-button [matMenuTriggerFor]="leaderboardMenu">Leaderboard</button>
<button mat-button routerLink="/instructions" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>How to play</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/game" [queryParams]="{ difficulty: 'Beginner' }" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Beginner</button>
  <button mat-menu-item routerLink="/game" [queryParams]="{ difficulty: 'Intermediate' }" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Intermediate</button>
  <button mat-menu-item routerLink="/game" [queryParams]="{ difficulty: 'Expert' }" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Expert</button>
</mat-menu>

<mat-menu #leaderboardMenu="matMenu">
  <button mat-menu-item routerLink="/leaderboard" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Beginner</button>
  <button mat-menu-item routerLink="/leaderboard" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Intermediate</button>
  <button mat-menu-item routerLink="/leaderboard" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Expert</button>
</mat-menu>
