/* Stilizarea butoanelor principale */
button[mat-button] {
    background-color: #3f51b5; /* Un albastru mai închis */
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s; /* Adaugă o animație la hover */
  }
  
  /* Stil la hover */
  button[mat-button]:hover {
    background-color: #5c6bc0; /* Albastru deschis la hover */
    transform: scale(1.05); /* Mărește butonul */
  }
  
  /* Stil pentru butoanele din meniul contextual */
  mat-menu button[mat-menu-item] {
    background-color: #ffffff; /* Fundal alb pentru itemele din meniu */
    color: #3f51b5; /* Text de culoare albastră */
    font-size: 14px;
    padding: 10px 20px;
    transition: background-color 0.2s;
  }
  
  /* Stil pentru itemele din meniu la hover */
  mat-menu button[mat-menu-item]:hover {
    background-color: #f1f1f1; /* Schimbă fundalul la hover */
    color: #3f51b5; /* Asigură-te că textul rămâne albastru */
  }
  
  mat-menu {
    background-color: #fff; /* Fundal alb pentru meniu */
    border-radius: 8px; /* Colțuri rotunjite */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adaugă o umbră subtilă */
    padding: 8px 0; /* Distanțare internă pentru elementele din meniu */
  }
  
  /* Stil pentru bordură la hover pentru itemele din meniu */
  mat-menu button[mat-menu-item]:active {
    border-left: 4px solid #3f51b5; /* Linie pe stânga la selecție */
  }