html, body {
    height: 100%;
    margin: 0;
    background-color: #eef5fb;
  }
  
  app-root {
    display: block;
    width: 100%;
    height: 88%;
  }

  :root {
    --grid-rows: 9;
    --grid-cols: 9;
  }